section.genplan
	.container-xxl.container-lg
		h2._h2 Генплан
		.genplan__subtitle Министерские Озера состоят из 4 кварталов: Фруктовый, Город детства, Комфорт и Бизнес 
	.genplan__bg
		img(src="static/images/content/genplan/bg-genplan.png", alt="")
		img.genplan__svg(src="static/images/content/genplan/genplan.svg", alt="")