section.advantages
	.container-xxl.container-lg
		h2._h2 Преимущества квартир
		.advantages__content
			.row
				.col-md-6.col-sm-6.col-xs-6
					.advantages__item
						.advantages__image(style="background-image:")
							img(src="static/images/content/advantages/advantages-1.jpg", alt="")
						h3._h3._one Остановочные комплексы общественного транспорта
						p.advantages__subtitle Для эффективной транспортной связи с центром Сочи прямо на территории комплексы расположены остановочные комплексы
				.col-md-6.col-sm-6.col-xs-6
					.advantages__item
						.advantages__image
							img(src="static/images/content/advantages/advantages-2.jpg", alt="")
						h3._h3._two Зеленый сад <br> в каждом дворе
						p.advantages__subtitle Здания комплекса уютно раскинутся между склонами гор. Красоты Сочинской природы останутся в шаговой доступности для любого жителя
				.col-md-3.col-sm-6.col-xs-6
					.advantages__item-bottom
						h3._h3._three Старт продаж нового дома
						.advantages__item-bottom-subtitle-one Мы подготовил особые ипотечные программы: максимально комфортный первый год или льготная ставка
						a(href="") Выбрать квартиру
							span >
				.col-md-9.col-sm-6.col-xs-6
					.advantages__item-bottom
						.advantages__image
							img(src="static/images/content/advantages/advantages-3.jpg", alt="")
							h3._h3._four Микрорайон с повышенным уровнем комфортности
							p.advantages__item-bottom-subtitle Проектом предусмотрены подъезды с обширными площадками для хранения детских колясок и велосипедов. Кроме того принято всё, чтобы упростить жизнь людей с ограниченными возможностями — они смогут без труда перемещаться в просторной безбарьерной среде с удобными пандусами
