section.advantages
	.container-xxl.container-lg
		h2._h2._anim-items._anim-no-hide Преимущества квартир
		.advantages__content._anim-items._anim-no-hide
			.row
				.col-md-6
					.advantages__item
						.advantages__image
							img(src="static/images/content/advantages/advantages-1.jpg", alt="")
						h3._h3 Остановочные комплексы общественного транспорта
						p.advantages__subtitle Для эффективной транспортной связи с центром Сочи прямо на территории комплексы расположены остановочные комплексы
				.col-md-6
					.advantages__item
						.advantages__image
							img(src="static/images/content/advantages/advantages-2.jpg", alt="")
						h3._h3 Зеленый сад <br> в каждом дворе
						p.advantages__subtitle Здания комплекса уютно раскинутся между склонами гор. Красоты Сочинской природы останутся в шаговой доступности для любого жителя
