.advantages {
	background-color: $bgc;
	padding-bottom: 150px;
	&__item {
		position: relative;
		&:hover ._one,
		&:hover ._two {
			transform: translate(0, -60%);
		}
		&:hover img {
			filter: brightness(40%);
			transform: scale(1.1);
		}
		&:hover .advantages__subtitle {
			opacity: 1;
			visibility: visible;
		}
	}
	&__item-bottom {
		position: relative;
		&:hover ._four {
			transform: translate(0, -60%);
		}
		&:hover img {
			filter: brightness(40%);
			transform: scale(1.1);
		}
		&:hover .advantages__item-bottom-subtitle {
			opacity: 1;
			visibility: visible;
		}
	}
	&__image {
		min-height: 365px;
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: all 0.3s ease 0s;
			filter: brightness(70%);
		}
	}
	._one,
	._two,
	._four {
		color: $white;
		position: absolute;
		max-width: 453px;
		bottom: 60px;
		left: 50px;
		transition: all 0.3s ease 0s;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 140%;
		color: $white;
		position: absolute;
		max-width: 470px;
		bottom: 35px;
		left: 50px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
	&__item-bottom-subtitle {
		font-size: 16px;
		line-height: 140%;
		color: $white;
		position: absolute;
		max-width: 900px;
		bottom: 35px;
		left: 50px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 1439px) {
	.advantages {
		._one,
		._two,
		._three,
		._four {
			font-size: 28px;
		}
		&__subtitle {
			font-size: 14px;
			max-width: 400px;
		}
		&__item-bottom-subtitle {
			font-size: 14px;
			max-width: 600px;
		}
		&__item-bottom {
			&:hover ._four {
				transform: translate(0, -90%);
			}
		}
	}
}
@media (max-width: 1023px) {
	.advantages {
		._one,
		._two {
			max-width: 350px;
		}
		&__item {
			&:hover ._two {
				transform: translate(0, -90%);
			}
			&:hover ._one {
				transform: translate(0, -40%);
			}
		}
		&__item-bottom {
			&:hover ._four {
				transform: translate();
			}
		}
		&__subtitle {
			max-width: 350px;
		}
	}
}
@media (max-width: 991px) {
	.advantages {
		&__subtitle {
			max-width: 300px;
		}
		._one,
		._two,
		._four,
		&__item-bottom-subtitle,
		&__subtitle {
			left: 25px;
		}
		&__item-bottom {
			&:hover ._four {
				transform: translate(0, -110%);
			}
		}
		&__item-bottom-subtitle {
			max-width: 450px;
		}
	}
}
@media (max-width: 767px) {
	.advantages {
		._one,
		._two,
		._three,
		._four {
			font-size: 24px;
			max-width: 250px;
			bottom: 40px;
			left: 50px;
		}
		&__item-bottom-subtitle,
		&__subtitle {
			display: none;
		}
		&__item {
			&:hover ._two {
				transform: none;
			}
			&:hover img {
				filter: none;
				transform: none;
			}
			&:hover ._one {
				transform: none;
			}
		}
		&__image {
			img {
				filter: brightness(60%);
			}
		}
		&__item-bottom {
			&:hover ._four {
				transform: none;
			}
			&:hover ._four {
				transform: none;
			}
			&:hover img {
				filter: brightness(40%);
				transform: scale(1.1);
			}
		}
	}
}
@media (max-width: 539px) {
	.advantages {
		background-color: $white;
		._one,
		._two {
			font-size: 20px;
			max-width: 300px;
		}
	}
}
.content {
	display: flex;
	justify-content: center;
}
.item {
	min-height: 300px;
	max-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 30px;
	&:hover p {
		display: block;
		transform: translate(0, 0);
	}
	p {
		margin-top: 30px;
		display: none;
		animation: text 0.1s linear;
		transform: translate(0, 100%);
	}
}
@keyframes text {
	0% {
		transform: translate(0, 100%);
	}
	100% {
		transform: translate(0, 0);
	}
}
.title {
	position: relative;
	font-size: 40px;
	color: $white;
}
