section.sticky
	.container-xxl.container-lg
		.row
			.col-xl-3.col-lg-0.col-md-0
				.sticky__sidebar.sticky-top
					p Отдых у воды
					p Прогулочная зона
					p Инфраструктура двора
					p Просторная парковка
					p Школа и детский сад
			.col-xl-9.col-lg-12.col-md-12
				.row.mb-30
					.col-xxl-3.col-md-12
						.sticky__content-text
							h3._h3 Обустроенная набережная
							.sticky__content-text-subtitle Набережная территория укреплена и обустроена беседками, чтобы проводить уютные вчера с друзьями и соседями 
					.col-xxl-9.col-md-12
						#sticky__content-img.sticky__image._ibg(style="background-image:url('static/images/content/advantages/advantages-3.jpg')")
				.row.mb-30
					.col-md-12
						h3._h3 Обустроенная набережная
						.sticky__content-text-subtitle Для вашего автомобиля всегда найдется место возле дома, независимо от того, как рано начался и как поздно закончился день
						.sticky__image._ibg(style="background-image:url('static/images/content/advantages/advantages-3.jpg')")
				.row.mb-30
					.col-md-3
						.sticky__content-text
							h3._h3 Обустроенная набережная
							#sticky__content-text-2.sticky__content-text-subtitle Набережная территория укреплена и обустроена беседками, чтобы проводить уютные вчера с друзьями и соседями 
					.col-md-9
						.sticky__image._ibg(style="background-image:url('static/images/content/advantages/advantages-3.jpg')")
				.row.mb-30
					.col-md-12
						h3._h3 Открытый бесплатный паркинг в каждом дворе
						.sticky__content-text-subtitle Для вашего автомобиля всегда найдется место возле дома, независимо от того, как рано начался и как поздно закончился день
						.sticky__image._ibg(style="background-image:url('static/images/content/advantages/advantages-3.jpg')")


